#----------------------------------------------------------------------------------
#-- This program is free software; you can redistribute it and/or
#-- modify it under the terms of the GNU General Public License
#-- as published by the Free Software Foundation; either version 2
#-- of the License, or (at your option) any later version.
#--
#-- This program is distributed in the hope that it will be useful,
#-- but WITHOUT ANY WARRANTY; without even the implied warranty of
#-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#-- GNU General Public License for more details.
#--
#-- You should have received a copy of the GNU General Public License
#-- along with this program; if not, write to the Free Software
#-- Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA
#-- 02111-1307, USA.
#--
#-- ©2011 - X Engineering Software Systems Corp. (www.xess.com)
#----------------------------------------------------------------------------------

#
# Pin assignments for the XuLA Board.
#

net clk_i           loc=p43;  # 100 MHz clock input.
net mclk_o          loc=p73;  # Master clock to the codec.
net sclk_o          loc=p72;  # Serial bit clock to the codec.
net lrck_o          loc=p94;  # Left-right channel clock to the codec. 
net sdti_o          loc=p83;  # Serial data input to the codec.
net sdto_i          loc=p84;  # Serial data output from the codec.
net csn_o           loc=p3;   # Chip-select to codec control port.
net cclk_o          loc=p4;   # Clock to codec control port.
#net adcRdyDiag_o    loc=p88;
#net dacRdyDiag_o    loc=p89;
